body {
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: linear-gradient( #f7d6e0, #feddd5, #fcdfd7)
}
.logo {
    width: 100px;
    border-radius: 50%;
}

#list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#contact p{
    display: flex;
    flex-direction: column;
}

.title, p, ul{
    font-family: 'Kalam', cursive;
}

a:hover {
    color: #a8d1e7
}

