body {
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
.logo {
    width: 100px;
    border-radius: 50%;
}

#list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#contact p{
    display: flex;
    flex-direction: column;
}

.title, p, ul{
    font-family: 'Kalam', cursive;
}


